{% extends 'base.html' %}
{% block con %}
    <div class="container mt-5 mb-5">
        <h1><b>{{ user|upper }} 즐겨찾기</b></h1>

        <div class="text-end">
            <a class="btn btn-dark" href="{% url 'book:create' %}">사이트추가</a>
        </div>

        <div class="row">
            {% for i in bset %}
                <div class="col-lg-4 mt-5">
                    <div class="card text-center">
                        <div class="card-header" {% if i.impo %} style="background-color:rgb(255, 255, 178)" {% endif %}>
                            <h5><b>{{ i.site_name }}</b></h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{i.site_con}}</p>
                            <a href="{{ i.site_url }}" class="btn btn-dark">사이트 이동</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}